@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&family=Raleway:wght@400;700&display=swap');

/* VARIABLES -----------------
===========================*/

$whitesmoke: whitesmoke;
$grey: #c4c4c4;
$grey2: #BDBDBD;
$blue: #3d8fcb;
$white: #fff;
$darkgrey: #37383a;
$black: #000;
$green: #75c900;
$red: #f03;

/* Establecemos el tamaño de fuente por defecto para los navegadores */
$browser-context: 16;
/* 1em */

* {
    box-sizing: border-box;
}

/* GENERAL -----------------
===========================*/

html,
body,
#app {
    font-family: 'Mulish', sans-serif;
    background-color: $whitesmoke;
    height: 100%;
}

body,
html,
h1,
h2,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

h1,
.iconTitle {
    font-size: calc(30 / $browser-context * 1em);
    margin-bottom: calc(7 / 16 * 1em);
}

a {
    text-decoration: none;
}

p {
    margin-bottom: calc(20 / $browser-context * 1em);
}

label {
    display: inline-block;
    font-size: calc(14 / $browser-context * 1em);
    margin-bottom: calc(8 / $browser-context * 1em);
    margin-right: calc(8 / $browser-context * 1em);
}

input {
    border: 2px solid $whitesmoke;
    padding: calc(12 / $browser-context * 1em) calc(20 / $browser-context * 1em);
    font-size: calc(18 / $browser-context * 1em);

    &:focus,
    &:active {
        outline: none;
        border-color: $blue;
    }
}

/* ESTRUCTURA --------------
===========================*/

.content {
    min-height: calc(100% - calc(140 / $browser-context * 1em));
    margin-bottom: calc(-100 / $browser-context * 1em);
    

    @media (max-width: calc(520 / $browser-context * 1em)) {
        height: auto;
        margin-bottom: 0;
    }
}

.wrap {
    max-width: calc(1130 / $browser-context * 1em);
    margin: 0 auto;
}

.container {
    max-width: calc(488 / $browser-context * 1em);
    margin: 0 auto;
}

.containerMini {
    max-width: calc(359 / $browser-context * 1em);
    margin: 0 auto;
    min-height: calc(189 / $browser-context * 1em);

}

.boxBig {
    min-height: calc(551 / $browser-context * 1em);
    padding: calc(40 / $browser-context * 1em);
    box-shadow: 0px 7px 13px #3333331c;

    @media (max-width: calc(520 / $browser-context * 1em)) {
        min-height: auto;
    }
}

.card {
    border: 1px solid $grey;
    border-radius: 3px;
    padding: calc(33 / $browser-context * 1em) calc(43 / $browser-context * 1em);
    margin-bottom: calc(33 / $browser-context * 1em);

    h2 {
        margin: calc(14 / $browser-context * 1em)
    }

    .imgCards {
        max-width: calc(103 / $browser-context * 1em);
    }
}

/* COLORES ------------------
===========================*/

.bgWhite {
    background-color: $white;
}

.bgBlue {
    background-color: $blue;
}

.blue {
    color: $blue;
}

.red {
    color: $red;
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.grey {
    color: $grey;
}

.grey2 {
    color: $grey2;
}

.darkgrey {
    color: $darkgrey;
}


/* TEXTO  ------------------
===========================*/

.small {
    font-size: calc(10 / $browser-context * 1em);
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* GRID -------------------
===========================*/

.grid {
    display: grid;
    align-items: center;
}

.gridTwoColumn {
    grid-template-columns: 1fr 1fr;
}

.gridCenter {
    justify-items: center;
}

.flex {
    display: flex;
    align-items: center;

    @media (max-width: calc(520 / $browser-context * 1em)) {
        &.mvlFullWidth {
            flex-direction: column;

            &>* {
                margin-bottom: 1em;
            }
        }
    }

}

.flexCenter {
    justify-content: center;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.flexRight {
    justify-content: right;
}

.flexRight {
    justify-content: right;
}

.fullWidth {
    width: 100%;
}

/* COMPONENTES --------------
===========================*/

/** Header **/
.header {
    padding: 0 1em;

    .logo {
        width: calc(175.24 / $browser-context * 1em);
    }

    .toogleMenu {
        padding: 1.5em 1em;
        cursor: pointer;
    }

    .enlace {
        line-height: calc(70 / $browser-context * 1em);
        padding: 0 calc(16 / $browser-context * 1em);

        img {
            width: calc(14 / $browser-context * 1em);
            margin: 0 calc(10 / $browser-context * 1em);
            vertical-align: middle;
        }

        .iconIdioma {
            width: calc(10 / $browser-context * 1em);
            margin: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        .child {
            line-height: calc(16 / $browser-context * 1em);
        }
    }

    @media (max-width: calc(520 / $browser-context * 1em)) {
        .enlace {
            border-bottom: 1px solid $grey;

            img {
                margin-left: 0;
            }

            .child {
                width: 100%;
                border-bottom: 1px solid $grey;
            }
        }

    }

}


/** Footer **/
.footer {
    padding: 0 1em;
    height: calc(100 / $browser-context * 1em);

    .logo {
        width: calc(175.24 / $browser-context * 1em);
    }

    .enlace {
        line-height: calc(70 / $browser-context * 1em);
        padding: 0 calc(16 / $browser-context * 1em);

        img {
            width: calc(14 / $browser-context * 1em);
            margin: 0 calc(10 / $browser-context * 1em);
            vertical-align: middle;
        }

        .iconIdioma {
            width: calc(10 / $browser-context * 1em);
            margin: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        .child {
            line-height: calc(16 / $browser-context * 1em);
        }
    }

    @media (max-width: calc(520 / $browser-context * 1em)) {
        margin-top: 0;
    }
}


/** Barra de progreso **/

.progreso {
    position: relative;
    &:after {
        content: "";
        width: 100%;
        background: $grey;
        height: 1px;
        margin-top: -27px;
        max-width: calc(100 / $browser-context * 1em);
        display: block;
        position: absolute;
    }

    .circle {
        border: 2px solid $blue;
        color: $blue;
        margin: 0 auto 8px;
        position: relative;
    }

    .paso {
        background: $whitesmoke;
        position: relative;
        z-index: 1;
        min-width: calc(87 / $browser-context * 1em);
    }

    .current {
        color: $white;
        background: $blue;
    }

    .texto {
        font-size: calc(16 / $browser-context * 1em);
    }

    .check {
        background-color: $green;
        border-color: $green;
        color: white;
    }

    .check,
    .current {
        &+.texto {
            font-weight: bold;
            color: $darkgrey;
        }
    }
}


/* RECURSOS -----------------
===========================*/

.enlace {
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
}

.push {
    margin-bottom: calc(70 / $browser-context * 1em);
}

.imgCentral {
    max-width: calc(60 / $browser-context * 1em);
}

.parent {
    position: relative;

    &:hover {
        .child {
            opacity: 1;
        }
    }
}

.child {
    position: absolute;
    opacity: 0;
    left: 0;
    transition: .3s all;

    &>div {
        padding: calc(16 / $browser-context * 1em);
    }
}

.formElement {
    margin: calc(32 / $browser-context * 1em);

    @media (max-width: calc(520 / $browser-context * 1em)) {
        margin: 1em 0;
    }
}

.btn {
    cursor: pointer;
    padding: calc(12 / $browser-context * 1em) calc(20 / $browser-context * 1em);
    font-size: calc(18 / $browser-context * 1em);
    transition: .3s all;

    &:active,
    &:focus,
    &:hover {
        background-color: $darkgrey;
        color: $white;
    }
}

.btnRounded {
    border-radius: 30px;
    border: 2px solid;
    min-width: calc(167 / $browser-context * 1em)
}

.circle {
    border-radius: 100%;
    font-size: calc(16 / $browser-context * 1em);
    width: calc(40 / $browser-context * 1em);
    height: calc(40 / $browser-context * 1em);
    line-height: calc(35 / $browser-context * 1em);
}

.circleSmall {
    border: 2px solid;
    border-radius: 100%;
    width: calc(26.67 / $browser-context * 1em);
    height: calc(26.67 / $browser-context * 1em);
    line-height: calc(23 / $browser-context * 1em);
}


/* MEDIA -----------------
===========================*/

.mvlShow {
    display: none;
}

@media (max-width: calc(520 / $browser-context * 1em)) {

    #app {
        transition: .3s all;
    }

    .trueOpen {
        transform: translateX(-60%);

        .menu.flex {
            display: block;
        }
    }

    .mvlShow {
        display: block;
    }

    .menu {
        z-index: 2;
        right: 0;
        top: 0;
        background: white;
        height: 100%;
        transform: translate(calc(302 / $browser-context * 1em), 0px);
        position: absolute;
        width: calc(300 / $browser-context * 1em);

        &.flex {
            flex-direction: column;
            align-items: flex-start;
            display: none;
        }
    }

}