<template>
  <div :class="$options.name + 'Page content'">
    <Progreso :pasoActual="paso"></Progreso>

    <div class="wrap bgWhite boxBig">
      
      <div class="container center">
        <h1 class="black">Pago del producto</h1>
        <p class="mbBig">
          Revisa los datos y completa aquellos pendientes antes de continuar con
          el proceso.
        </p>

        <div class="card mbBig">
            <img src="../assets/images/pay.png" class="imgCentral" alt="Tarjeta de crédito" title="Tarjeta de crédito">
            <h2 class="black mb"> Tarjeta de crédito </h2>
            <p>
                Se redirigirá a una plataforma de pago. Se trata de un proceso seguro.
                Puede que la validación del pago tarde 24 horas en completarse.
            </p>
            <img src="../assets/images/cards.png" class="imgCards" alt="Tarjeta de crédito" title="Tarjeta de crédito">
        </div>

        <div class="mvlFullWidth flex flexSpaceBetween">
            <router-link to="/" class="btnRounded bgWhite blue btn bold flex flexSpaceBetween"><i class="fas fa-arrow-left circleSmall"></i><span>Anterior</span></router-link>
            <div class="btnRounded bgBlue white btn bold flex flexSpaceBetween" @click="peticion()"><span>Pagar</span><i class="fas fa-arrow-right circleSmall"></i></div>
         </div>   
      </div>
    </div>
  </div>
</template>

<script>
import Progreso from "./Progreso.vue";
import axios from "axios";
//Importamos un fichero global, donde tenemos definida la URL a la que vamos a realizar la petición
import Global from "../global";

export default {
  name: "Checkout",
  components: {
    Progreso,
  },
  mounted() {
   // Recogemos los datos del usuario recibidos en el Paso 1
    this.userName = this.$route.params.userName;
    this.userLastName = this.$route.params.userLastName;
  },
  data() {
    return {
      paso: 2,
      userName: '',
      userLastName: ''
    };
  },
  methods: {
    peticion() {
      // Realizamos la petición a la API de prueba. En este caso, el endpoint no requiere parámetros por lo que hacemos una petición get
      // axios.post(Global.url, {params: {this.userName, this.userLastName}}).then()...
      axios.get(Global.url).then((res) => {
        if (res.statusText == "OK") {
          this.$router.push({name: 'thank-you', params: {title: res.data.title, text: res.data.text}});
        } else {
           this.$router.push({name: 'thank-you', params: {error: true}});
        }
      });
    },
  },
};
</script>
