<template>
  <div class="fullWidth bgWhite">
    <div class="footer wrap flex flexSpaceBetween bgWhite">
      <div class="fullWidth small grey2"> 2020 © We Are Marketing </div>
      <img
        class="logo"
        src="../assets/images/logo.png"
        alt="logo"
        title="logo"
      />
    </div>
  </div>
</template>
<script>
export default {
  name: "Footer",
  data() {
    return {
      idioma: "ES",
    };
  },
  methods: {
    seleccionarIdioma(idioma) {
      this.idioma = idioma;
    },
  },
};
</script>
<style scoped>

.flex {
  align-items: center;
}
</style>