<template>
  <div class="header fullWidth bgWhite">
    <div class="wrap flex flexSpaceBetween">

      <router-link to="/">
        <img class="logo" src="../assets/images/logo.png" alt="Logo We Are Marketing" title="Logo We Are Marketing"/>
      </router-link>

      <i @click="toogleMenu()" class="toogleMenu mvlShow fas fa-bars"></i>

      <nav class="menu flex uppercase bold">
        <div class="enlace">
          <img class="" src="../assets/images/help.png" alt="sign in" title="sign in" />Ayuda</div>
        <div class="enlace">
          <img class="" src="../assets/images/person.png" alt="sign in" title="sign in" />Sign in
        </div>
        <div class="enlace parent">
          {{ idioma }} <img class="iconIdioma" src="../assets/images/arrow-down.png" alt="idiomas" title="idiomas" />

          <div class="child bgWhite">
            <div @click="seleccionarIdioma('ES')">ES</div>
            <div @click="seleccionarIdioma('EN')">EN</div>
          </div>
        </div>
      </nav>

    </div>
  </div>
</template>
<script>
export default {
  name: "Header",
  data() {
    return {
      idioma: "ES",
      openMenu: false
    };
  },
  methods: {
    seleccionarIdioma(idioma) {
      this.idioma = idioma;
    },
    toogleMenu(){
      //Cambiamos la clase de la etiqueta "app" para la animación del menú en el móvil
      this.openMenu = !this.openMenu;
      let elem = document.querySelector('#app');
      elem.className = ''
      elem.classList.add(this.openMenu+"Open");
    }
  },
};
</script>
<style scoped>
.flex {
  align-items: center;
}
</style>