<template>
  <div :class="$options.name + 'Page content'">
    <Progreso :pasoActual="paso"></Progreso>

    <div class="wrap bgWhite boxBig">
      <div class="container center">
        <h1 class="black">Mis Datos</h1>
        <p class="mbBig">
          Revisa los datos y completa aquellos pendientes antes de continuar con
          el proceso.
        </p>
      </div>
      <div class="container">
        <form>
          <div class="formElement">
            <label> Nombre </label>
            <span class="error small red" v-if="this.errors.name != '' && this.errors.name != undefined">Este campo es requerido </span>
            <input class="name mbBig fullWidth" type="text" v-model="user.name" />
          </div>
          <div class="formElement">
            <label> Apellidos </label>
            <span class="error small red" v-if="this.errors.lastname != '' && this.errors.lastname != undefined">Este campo es requerido </span>
            <input
              class="lastname mbBig fullWidth"
              type="text"
              v-model="user.lastname"
            />
          </div>

          <div class="formElement flex flexRight">
             <div class="btnRounded bgBlue white btn bold flex flexSpaceBetween" @click="comprobarDatos()"><span>Continuar</span><i class="fas fa-arrow-right circleSmall center"></i></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import Progreso from "./Progreso.vue";

export default {
  name: "MisDatos",
  components: {
    Progreso,
  },
  data() {
    return {
      errors: {},
      paso: 1,
      user: {
        name: "",
        lastname: "",
      },
    };
  },
  methods: {
    comprobarDatos() {

      // Validamos que se han introducido los datos
      this.errors = {};

      if (!this.user.name) {
        this.errors.name = "El nombre es obligatorio.";
      }

      if (!this.user.lastname) {
        this.errors.lastname = "El nombre es obligatorio.";
      }

      // Si no hay errores, continuamos al paso 2
      if (Object.keys(this.errors).length === 0) {
        this.$router.push({ name: "checkout", params: { userName: this.user.name, userLastName: this.user.lastname } });
      }
    },
  },
};
</script>