<template>
  <div class="progreso containerMini grid gridTwoColumn gridCenter">
    <div class="paso" v-for="paso in comprobarPaso" :key="paso">
      <div :class="paso.clases + ' circle center'" v-html="paso.num"></div>
      <div class="texto grey uppercase center">{{ paso.texto }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Progreso",
  props: ["pasoActual"],
  data() {
    return {
      pasos: [
        { texto: "Mis Datos", num: 1, clases: "" },
        { texto: "Pago", num: 2, clases: "" },
      ],
    };
  },
  computed: {
    comprobarPaso() {
      let pasosEditados = this.pasos;
      const index = this.pasoActual - 1;

      // Comprueba si el número recibido existe
      if (pasosEditados[index]) {
        for (let i = 0; i < index; i++) {
          pasosEditados[i].clases = "check";
          pasosEditados[i].num = "<i class='fas fa-check'></i>";
        }
        // El número recibido es el número del paso actual
        pasosEditados[index].clases = "current";
      } 
      // Se han completado todos los pasos, por lo que todos están "check"
      else {
        for (let i = 0; i < Object.keys(pasosEditados).length; i++) {
          pasosEditados[i].clases = "check";
          pasosEditados[i].num = "<i class='fas fa-check'></i>";
        }
      }
      return pasosEditados;
    },
  },
};
</script>

