<template>
  <div :class="$options.name + 'Page content'">
    <Progreso :pasoActual="paso"></Progreso>

    <div class="wrap bgWhite boxBig flex">
      <div class="container center">
        <img v-if="!respuesta.error" src="../assets/images/diploma.svg" class="imgCentral" alt="diploma" title="diploma">
        <i v-else class="iconTitle red fas fa-exclamation-circle"></i>

        <h1 class="black">{{ respuesta.title }}</h1>
        <p class="mbBig">
          {{ respuesta.text }}
        </p>
  
        <div class="formElement flex flexCenter" v-if="respuesta.error" >
          <router-link to="/" class="btnRounded bgBlue white btn bold flex flexSpaceBetween"><i class="fas fa-arrow-left circleSmall"></i><span>Reintentar</span></router-link>
        </div>
      
      </div>
    </div>

  
  </div>

  
</template>

<script>
import Progreso from "./Progreso.vue";

export default {
  name: "ThankYou",
  components: {
    Progreso,
  },
  mounted() {
    // Controlamos la posibilidad de que el usuario no reciba los datos correctamente (o recargue la página)
    if(this.$route.params.error || this.$route.params.title == undefined || this.$route.params.text == undefined){
        this.respuesta =  {title: 'Algo ha ido mal', text: 'El proceso de compra no se ha realizado con éxito. Por favor, inténtelo de nuevo', error: true}
    } else {
      this.respuesta =  {title: this.$route.params.title, text: this.$route.params.text}
    }
  },
  data() {
    return {
      paso: 3,
      respuesta: ''
    };
  },
};
</script>
<style scoped>
</style>
