<template>
    <Header></Header>
    <router-view></router-view>
    <!-- Evitando que el footer se superponga -->
    <div class="push"></div>
    <Footer></Footer>
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";

export default {
  name: 'App',
  components: {
    Header,
    Footer
  },
}

</script>

<style>
@import "./assets/css/style.css";
</style>
